@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>HaiT</title>
    <link href="../../Style/CSS/Hait.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div >
        <img alt="HaiT" src="../../Style/Images/Hait icon trsp.png" class="Splash"  />
    </div>
    <div class="SplashFooter">
        HaiT B.V.B.A - <a href="mailto:info@hait.be">info@hait.be</a>
    </div>
</body>
</html>
