@{
    ViewBag.Title = "HaiT";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="Hy" title="HaiT">
    <img alt="HaiT" src="../../Content/themes/base/images/Hait icon trsp.png" class="Splash" />
</a>