@{
    ViewBag.Title = "Hy";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    <div class="row">
        @Html.Partial("_HeaderMenu")
    </div>
    <div class="row">
        <ol class="GlobalService">
            <li>
                <h2>
                    .Net Consulting</h2>
                <p>
                    Enthusiast and very motivated Senior .NET consultant (10 y). Strong focus on technical
                    architecture, team work and coaching. Microsoft Certified Professional.</p>
            </li>
            <li>
                <h2>
                    Scrum/Agile Consultancy</h2>
                <p>
                    Certified Scrum master. Always looking for improvements. Quality- and team management,
                    knowledge sharing and increasing productivity are key. Information is knowledge.</p>
            </li>
            <li>
                <h2>
                    Project Guide</h2>
                <p>
                    Proven ability to lead and manage a wide variety of projects. Getting things done
                    via a structured pragmatic approach, while keeping a client focus via pro-active
                    and clear communication.</p>
            </li>
        </ol>
    </div>
</div>
