@{
    ViewBag.Title = "Skills";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="wrapper">
    <div class="row">
       @Html.Partial("_HeaderMenu")
    </div>
    <div class="row">
       <div style="background-color:#FFFFFF;font-family:Arial; border: 1px solid #FFFFFF; text-align:center;">
<div style="padding:5px;">
   <a href="" style="font-size:20px;text-decoration:none; color: #FF7600;">Scrum</a>  
   <a href="" style="font-size:14px;text-decoration:none; color: #039FAF;">.NET</a>  
   <a href="" style="font-size:16px;text-decoration:none; color: #FF7600;">BDD</a>  
   <a href="" style="font-size:13px;text-decoration:none; color: #DE2159;">MVC</a>  
   <a href="" style="font-size:18px;text-decoration:none; color: #FF7600;">WCF</a>  
</div>
</div>
    </div>
</div>

