 <div id="headerMenu" class="column">
            <a href="/" title="HaiT">
                <img id="menuLogo" alt="HaiT" src="../../Content/themes/base/images/Hait icon trsp.png" /></a>
            <ul id="nav">
                <li id="ctl00_liSkills"><a href="Skills">Skills</a></li>
                <li id="ctl00_liServices"><a href="Services">Services</a></li>
                <li id="ctl00_liName"><a href="Name">What's in a name</a></li>
                <li id="ctl00_liWho"><a href="Who">Who is</a></li>
                <li id="ctl00_liContact"><a href="Contact">Contact</a></li>
            </ul>
        </div>